<form action="/urls" method="post">
	<center>Enter URL:<br>
	<input type="text" name="long" required><br>
	<input type="submit" value ="Submit"></center>
</form>

<center>
<table class="table">
  <tr>
    <th>URL</th>
    <th>Pendek</th>
    <th>Clicks</th>
  </tr>

	<% @urls.each do |a| %>
			<tr>
			<td><%= a.url %></td>
			<td><a href="<%= a.shorturl %>"><%= a.shorturl %></a></td> 
			<td><%= a.clickcount %></td>
		</tr>
	<% end %>
</table>
</center>

