<form action="/urls" method="post">
	Enter URL:
	<input type="text" name="abc" required>
	<input type="submit" value ="Submit">
</form>

<ol><% @urls.each do |a| %>
<li> <%= a.url %><a href="<%= a.url %>"> <%= a.shorturl %></a> </li>

<% end %></ol>


